.recipe-container {
  min-height: 100vh;
  width: 100%;
  margin-top: 150px;
  padding: 0 150px;

  h6 {
    color: black;
  }

  .card-header {
    background-color: #1761a0;
    color: white;
    overflow-x: hidden;
    white-space: nowrap;
  }

  .search-item {
    padding: 5px;
    cursor: pointer;
  }

  .search-item:hover {
    background-color: lightblue;
  }

  .search-item-container {
    background-color: rgba(255, 255, 255, 0.9);
    border: 1px solid black;
    border-top: none;
    margin-top: -30px;
    padding-top: 10px;
  }

  .tag-container {
    height: 50px;
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    width: 100%;
  }

  .query-tag {
    padding: 0px 10px;
    height: 25px;
    text-align: center;
    background-color: lightblue;
    margin: auto;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

.recipe-by-id-container {
  //   height: 100%;
  width: 100%;
  margin-top: 25px;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;

  .similar-recipe-container {
    background-color: #1761a0;
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 25px 0;
    // margin-left: 15px;
    margin-bottom: 25px;
  }

  .similar-recipe-container > a {
    // width: 200px;
    padding: 0 25px;
  }
  //   position: relative;

  //   .card-header {
  //     background-color: #1761a0;
  //     color: white;
  //     overflow-x: hidden;
  //     white-space: nowrap;
  //   }

  .ingredients-list {
    background-color: lightblue;
    padding: 15px;
    margin: 24px 0;
  }
}

.recipe-picture {
  padding: 5px;
  border: 1px solid black;
}
