.recipe-container {
  width: 100%;
  margin-top: 150px;
  padding: 0 150px;

  h6 {
    color: black;
  }

  .card-header {
    background-color: #1761a0;
    color: white;
    overflow-x: hidden;
    white-space: nowrap;
  }

  .search-item {
    padding: 5px;
    cursor: pointer;
  }

  .search-item:hover {
    background-color: lightblue;
  }

  .search-item-container {
    background-color: rgba(255, 255, 255, 0.9);
    border: 1px solid black;
    border-top: none;
    margin-top: -30px;
    padding-top: 10px;
  }

  .tag-container {
    height: 50px;
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    width: 100%;
  }

  .query-tag {
    padding: 0px 10px;
    height: 25px;
    text-align: center;
    background-color: lightblue;
    margin: auto;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

.ingredients-list {
  background-color: lightblue;
  padding: 15px;
  margin: 24px 0;
}

.recipe-picture {
  padding: 5px;
  border: 1px solid black;
}
